
:root {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

h1 {
    font-size: 80px;
    padding: 0px;
    margin: 0px;
}
.game-board {
    display: grid;
    background-color: cyan;
    border: 1px solid black;
    grid-template-columns: auto auto auto;
}

.tile {
    border: 1px solid black;
    background-color: red;
    height: 200px;
    width: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    user-select: none;
    -webkit-user-select: none; /* For older versions of Safari */
    -moz-user-select: none; /* For older versions of Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}