
:root {
    font-family: Roboto,  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: PlaywriteFR;
    src: url(../fonts/PlaywriteFRModerne-VariableFont_wght.ttf);
  }

body {
    display: flex;
    background-color: beige;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
}

h1 {
    font-family: PlaywriteFR;
    font-size: 80px;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-family: PlaywriteFR;
    font-size: 30px;
    
    
}
.game-board {
    display: grid;
    
    grid-template-columns: auto auto auto;
}

.tile {
    height: 200px;
    width: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    user-select: none;
    -webkit-user-select: none; /* For older versions of Safari */
    -moz-user-select: none; /* For older versions of Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.row-one, .row-two {
    border-bottom: 10px solid black;
}

.col-one, .col-two {
    border-right: 10px solid black;
}

button {


display: inline-block;
outline: none;
cursor: pointer;
margin:50px;
font-size: 16px;
line-height: 20px;
font-weight: 600;
border-radius: 8px;
padding: 14px 24px;
border: none;
transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
color: #fff;
}
